*,*::before,*::after{margin: 0; padding: 0; box-sizing: border-box; transition: .4s ease-in-out;}


 :root{
    --color--gray : #696969;
    --paragraph--color: #000000ae;
    --color--black: #000000;
 }

body{
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}





